<!DOCTYPE html>
<html lang="en" ng-app="ngOptions">
<head>
    <title>Easy Account Switcher Profile Setup</title>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="../bower_components/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" media="all" />

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="options.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div ng-controller="ngOptionsController">
                    <form class="form-horizontal" name="accountsForm" ng-submit="save()">
                        <fieldset>
                            <legend>
                                <a href="https://www.youtube.com/v/{{video_id}}?autoplay=1&fmt=22" class="pull-right" data-toggle="tooltip" data-placement="bottom" title="Need Help?"
                                   target="_blank"><i class="fa fa-question-circle"></i></a>
                                Easy Account Switcher for Google, Facebook, Twitter, and Reddit
                            </legend>
                            <p>
                                Please create a profile for every Google account you have and click the "Save profiles" button to finish setup.
                                Then save your Google, Faceook, Twitter accounts into each profile as
                                explained in this <a href="https://www.youtube.com/v/{{video_id}}?autoplay=1&fmt=22" target="_blank"><i class="fa fa-youtube"></i> 2 min video tutorial here.</a>
                            </p>

                            <p ng-class="{'alert alert-info':msg}">&nbsp;{{msg}}</p>

                            <div class="form-group" ng-repeat="profile in settings.profiles">
                                <label class="col-xs-3 control-label" for="name">Profile name #{{$index+1}}:</label>

                                <div class="col-xs-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="profile.name" id="name" ng-required="true" placeholder="Profile name (it can be any name)"
                                               ng-required="true" />

                                        <div class="input-group-addon">@gmail.com</div>
                                    </div>
                                </div>

                                <div class="col-xs=-1">
                                    <sup ng-show="settings.profiles.length > 1"><a href="" class="text-muted" ng-click="settings.profiles.splice($index, 1)"><i class="fa fa-times"></i></a></sup>
                                </div>
                            </div>

                            <div ng-show="settings.advanced">
                                <p align="center"><b>Advanced settings</b></p>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="domains">Matching domains:</label>

                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" ng-model="settings.domains" id="domains" ng-required="true" placeholder="Regex for matching domains" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="reload">When I click load:</label>

                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.reload" name="reload" ng-value="'all'"> Reload all matching tabs
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.reload" name="reload" ng-value="'tab'"> Reload current tab only
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.reload" name="reload" ng-value="'custom'"> Redirect to a URL
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.reload" name="reload" ng-value="false"> Do nothing
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="settings.reload==='custom'">
                                    <label class="col-xs-3 control-label" for="custom_url">Custom URL:</label>

                                    <div class="col-xs-8">
                                        <input type="url" class="form-control" ng-model="settings.custom_url" id="custom_url" ng-required="true" placeholder="Custom URL to go to after reload" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="proto">Load cookies for URLs:</label>

                                    <div class="col-xs-8">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.proto" name="proto" ng-value="'https'"> https:// only
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.proto" name="proto" ng-value="'http'"> http:// only
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="settings.proto" name="proto" ng-value="'both'"> http:// + https:// both
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <Br />

                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Save profiles</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-success" ng-click="settings.profiles.push({name: '', cookies: []})"><i class="fa fa-plus"></i> Add new profile</button>
                                    <button type="button" class="btn btn-danger pull-right" ng-click="clear()" ng-show="settings.advanced"><i class="fa fa-trash"></i> Clear everything</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <hr />

                            <div class="col-md-12"><label class="pull-right text-muted text"><input type="checkbox" ng-model="settings.advanced" ng-true-value="'true'"> Show advanced settings</label>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>