<!DOCTYPE html>
<html lang="en" ng-app="ngApp" ng-csp>
<head></head>
<body>
    <div class="popup">
        <div>
            <div class="container" ng-controller="ngCtrl">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <a href="https://www.youtube.com/v/{{video_id}}?autoplay=1&fmt=22" class="pull-right" data-toggle="tooltip" data-placement="bottom" title="Need Help?"
                               target="_blank"><i class="fa fa-question-circle"></i></a>
                            Account profiles
                        </h3>

                        <p class="alert alert-info" ng-show="msg">{{msg}}</p>

                        <div ng-show="!profiles.length">
                            <p>You have not created any profiles yet. Please create some profiles first to use this extension.</p>
                            <hr />
                            <a href="options.html" target="_blank" class="btn btn-primary"><i class="fa fa-plus"></i> Create profiles</a>
                        </div>

                        <div ng-show="profiles.length">
                            <p>Click "Load cookies" to restore a session. Click "Save cookies" to update a profile with current session.</p>

                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="profile in profiles" ng-class="{'disabled':expired && ($index>1)}" ng-init="i = $index % 3">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-1x fa-lg {{i === 0 && 'text-success' || i === 1 && 'text-info' || i === 2 && 'text-warning' || 'text-danger'}}"></i>
                                        <i class="fa fa-stack-1x fa-sm fa-inverse">
                                            {{profile.name | limitTo: 1 | uppercase}}
                                        </i>
                                    </span>

                                    {{profile.name | limitTo:20}}

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="!profile.cookies.length" ng-click="load(profile, $index)" data-toggle="tooltip"
                                                    title="Click to load cookies saved in this profile into your browser"><i class="fa fa-upload"></i>
                                                <span ng-show="!!profile.cookies.length">Load cookies</span>
                                                <span ng-show="!profile.cookies.length">Empty (0 cookies)</span>
                                            </button>
                                            <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" ng-disabled="!profile.cookies.length">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" ng-click="load(profile, $index, 'mail.google.com')"><i class="fa fa-fw fa-google"></i> Load and open Gmail</a></li>
                                                <li><a href="" ng-click="load(profile, $index, 'www.youtube.com')"><i class="fa fa-fw fa-youtube"></i> Load and open Youtube</a></li>
                                                <li><a href="" ng-click="load(profile, $index, 'drive.google.com')"><i class="fa fa-fw fa-hdd-o"></i> Load and open GDrive</a></li>
                                                <li class="divider"></li>
                                                <li><a href="" ng-click="load(profile, $index, 'www.facebook.com')"><i class="fa fa-fw fa-facebook"></i> Load and open Facebook</a></li>
                                                <li><a href="" ng-click="load(profile, $index, 'www.twitter.com')"><i class="fa fa-fw fa-twitter"></i> Load and open Twitter</a></li>
                                                <li><a href="" ng-click="load(profile, $index, 'www.reddit.com')"><i class="fa fa-fw fa-reddit"></i> Load and open Reddit</a></li>
                                                <li class="divider"></li>
                                                <li><a href="" ng-click="clear(profile)"><i class="fa fa-fw fa-trash"></i> Clear cookies</a></li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="save(profile)" data-toggle="tooltip"
                                                title="Click to save your browser's cookies into this profile">
                                            <i class="fa fa-download"></i> Save cookies
                                        </button>
                                    </div>
                                </li>
                            </ul>

                            <br />

                            <div class="row" ng-show="!expired">
                                <div class="col-xs-8">
                                    <button type="button" data-toggle="tooltip" title="Click this button before recording a new session for best results (resets cookies)"
                                            class="btn btn-xs btn-default"
                                            ng-click="newSession()"><i
                                            class="fa fa-plus-circle"></i> Record a new session
                                    </button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <small><a href="options.html" target="_blank" class="text-muted"><i class="fa fa-edit"></i> Edit profiles</a></small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="row" ng-show="expired">
                                <div class="col-xs-12">
                                    <a href="{{donate_link}}" target="_blank" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                       title="Did my app help you save valuable time? You can donate any amount like $2, $5, etc to unlock the full version and get unlimited profiles.">
                                        <i class="fa fa-shopping-cart"></i> Upgrade (Free trial expired)</a>

                                    <button type="button" class="btn btn-xs btn-default" ng-click="getcode()"><i class="fa fa-tag"></i> Enter unlock code..</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="/static/bower_components/angular/angular-csp.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/static/bower_components/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/static/local/popup.css" type="text/css" rel="stylesheet" media="all" />

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/local/popup.js"></script>
</body>
</html>


